/* ===== Base ===== */

* {
  box-sizing: border-box;
}

body {
  margin:a0;
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  color: #222;
}


/* ===== Layout ===== */

main {
  max-width: 720px;
  margin: 0 auto;
  padding: 1.5rem 1rem;
}

section {
  margin-bottom: 2rem;
}


/* ===== Typography ===== */

h1, h2, h3 {
  line-height: 1.3;
  margin-top: 0;
}

p {
  margin: 0.5rem 0 1rem;
}


/* ===== Links ===== */

a {
  color: #0366d6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
