body{

    background:black;

    color:white;

    font-family:
        monospace;

}


.site-header{

    border:
        4px solid white;

    padding:2rem;

}


.main-nav a{

    color:white;

    display:block;

    margin-bottom:1rem;

}


.main-nav a:hover{

    padding-left:10px;

}


.article-card{

    border:
        2px solid white;

    padding:1rem;

}
