<footer class="footer-box">

    <div class="status-window">

        <h3>

            STATUS

        </h3>

        <ul>

            <li>

                Site :
                Sairy Hub

            </li>

            <li>

                Class :
                Personal Archive

            </li>

            <li>

                Contents :
                Tech / Hobby / Create / Life

            </li>

            <li>

                Version :
                Build in Progress...

            </li>

        </ul>

    </div>


    <small>

        © Sairy Hub

    </small>

</footer>
