<header class="site-header">

    <!-- サイトタイトル -->

    <a
        href="/"
        class="site-logo"
    >

        SAIRY HUB

    </a>


    <!-- サブタイトル -->

    <p class="site-subtitle">

        Records & Strange Logs

    </p>


    <!-- メニュー -->

    <nav class="main-nav">

        <a href="/blog/te">

            Knowledge

        </a>

        <a href="/blog/hb">

            Inventory

        </a>

        <a href="/blog/mk">

            Crafting

        </a>

        <a href="/blog/lf">

            Journal

        </a>

    </nav>

</header>
